// 登录页
.xwr-login-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto!important;
  width: 400px;
  padding-top: 200px!important;
}
.xwr-index-page {
  height: 100vh;
  .ant-row {
    height: 100%;
  }
}

.xwr-register-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto!important;
  width: 600px;
  padding-top: 200px!important;
  .qr-code-row {
    flex-wrap: nowrap;
    .ant-form-item {
      margin-bottom: 0px!important;
    }
    .qr-code-send-btn {
      .ant-btn {
        width: 100%;
      }
    }
  } 
  .register-btn {
    width: 100%;
  }
}

// 主界面
.xwr-index-page {
  width: 100%;
  display: flex;
  flex-direction: row;
  .xwr-index-page-body{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 256px);
    .xwr-index-page-header {
      width: 100%;
      height: 80px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px 24px;
      .each-header-nav {
        margin-left:10px;
      }
      .header-notice-icon {
        margin: 0px 10px;
      }
    }
  }
}

// 列表通用查询
.xwr-common-search-form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  .search-dom {
    width: 70;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .add-condition-btn {
      margin: 0px 4px;
    }
    .search-btn {
      margin:0px 4px;
    }
    .search-component {
      margin: 0px 10px;
    }
  }
}